body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepage {
  margin: 0 15vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.list-beers {
  display: flex;
  margin-left: 5vw;
  gap: 5vh;
  margin-bottom: 5vh;
}
.list-beers img {
  max-width: 15vw;
}

.beer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.beer-details h3 {
  color: grey;
  margin: 0;
}

.name-attenuation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-attenuation p {
  color: grey;
  font-size: 2em;
}

.tagline-first-brewed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singlebeer-description {
  color: grey;
}

.single-beer {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  gap: 5vh;
  margin-bottom: 5vh;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.singlebeer-details {
  margin-left: 5vw;
  margin-right: 5vw;
}

.single-beer img {
  max-height: 200px;
}
